.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5rem;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 5rem;
  padding: 0 2rem;
}

.info-container h1 {
  color: var(--text);

  font-weight: 500;
  font-size: 2rem;

  margin: 0;
}

.info-container button {
  background: var(--primary-color);

  padding: 0.25rem 1.2rem;
  font-size: 1rem;
  transition: filter 0.2s;
}

.info-container button:hover {
  filter: brightness(0.8);
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0 2rem;
  gap: 2rem;
}

.total-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  gap: 1rem;
}

.total-container h2 {
  margin: 0;
}

.total-container span {
  background: var(--primary-color);
  color: var(--text);
  font-weight: 500;

  padding: 0.25rem 0.8rem;
  border-radius: 1rem;
}

.table td a {
  width: 3rem;
  padding: 0.5rem 0.1rem;
  border-radius: 5px;

  color: var(--text);
  transition: filter 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.table td a:hover {
  filter: brightness(0.8);
}

.edit-icon {
  background: var(--primary-color);  
}

.delete-icon {
  background: var(--negative-color);
}

@media (min-width: 1920px) {
  .info-container, .list-container{
    padding: 0 18.5rem;
  }
}