<main class="container">
  <div class="info-container">
    <h1>Listagem de produtos</h1>
    <button mat-flat-button (click)="navigateToProductsCreate()">
      Adicionar produto
    </button>
  </div>

  <div class="list-container">
    <div class="total-container">
      <h2>Quantidade total de produtos</h2>
      <span id="totalProducts">{{ totalProducts }}</span>
    </div>
    
    <table class="table-prodcuts">
      <thead class="thead-products">
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Editar</th>
          <th>Deletar</th>
        </tr>
      </thead>

      <tbody *ngFor="let product of products" class="tbody-products">
        <tr id="{{ product.id }}">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency: 'BRL' }}</td>
          <td>
            <a class="edit-icon" routerLink="/product/update/{{ product.id }}">
              <i class="material-icons">
                edit
              </i>
            </a>
          </td>
          <td>
            <a  class="delete-icon" color="warn" (click)="openModal()">
              <i class="material-icons">
                delete
              </i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</main>