.container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5rem;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 5rem;
  padding: 0 2rem;
}

.info-container h1 {
  color: var(--text);

  font-weight: 500;
  font-size: 2rem;

  margin: 0;
}

.info-container button {
  background: var(--primary-color);

  padding: 0.25rem 1.2rem;
  font-size: 1rem;
  transition: filter 0.2s;
}

.info-container button:hover {
  filter: brightness(0.8);
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0 2rem;
  gap: 1rem;
}

.total-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  gap: 1rem;
}

.total-container h2 {
  margin: 0;
}

.total-container span {
  background: var(--primary-color);
  color: var(--text);
  font-weight: 500;

  padding: 0.25rem 0.8rem;
  border-radius: 1rem;
}

.table-prodcuts {
  width: 100%;
  border-spacing: 0 0.5rem;
}

.thead-products th {
  color: var(--description);
  font-weight: 500;
  padding: 1rem 2rem;
  text-align: left;
  line-height: 1.5rem;
}

.tbody-products td {
  background: var(--background);

  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--text);
}

.tbody-products td:first-child {
  border-radius: 5px 0px 0px 5px;
}

.tbody-products td:last-child {
  border-radius: 0px 5px 5px 0px;
}

.tbody-products a{
  width: 3rem;
  padding: 0.5rem 0;
  border-radius: 5px;

  color: var(--text);
  transition: filter 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.tbody-products a:hover{
  filter: brightness(0.8);
}

.tbody-products a i {
  font-size: 1.2rem;
}

.edit-icon {
  background: var(--primary-color);  
}

.delete-icon {
  background: var(--negative-color);
}

@media (min-width: 1920px) {
  .info-container, .list-container{
    padding: 0 18.5rem;
  }
}