.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5rem;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 5rem;
}

.info-container h1 {
  color: var(--text);

  font-weight: 500;
  font-size: 2rem;

  margin: 0;
}

.info-container button {
  background: var(--primary-color);

  padding: 0.25rem 1.2rem;
  font-size: 1rem;
  transition: filter 0.2s;
}

.info-container button:hover {
  filter: brightness(0.8);
}

