.container {
  padding: 2rem;
  background-image: radial-gradient(circle, #3e188f, #000000);
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 5rem; 
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-container h1 {
  max-width: 620px;

  font-size: 4.5rem;
  font-weight: 500;
  line-height: 5rem;
}

.text-container p {
  max-width: 560px;

  font-size: 1.2rem;
  font-weight: 500;

  color: var(--description);
}

.text-container button {
  margin-top: 2rem;
  background: var(--primary-color);

  padding: 0.65rem 2.5rem;
  font-size: 1.2rem;
  border-radius: 7px;

  transition: filter 0.2s;
}

.text-container button:hover {
  filter: brightness(0.8);
}

img {
  max-height: 32rem;
}