<main class="container">
  <div class="info-container">
    <div class="text-container">
      <h1>O melhor serviço de adminstração de inventário!</h1>
      <p>Com o Inventorium você vai turbinar a maneira de controlar o estoque da sua loja, isso com grande facilidade e praticidade.</p>
      <button mat-flat-button routerLink="/products">
        Criar estoque
      </button>
    </div>
    
    <img src="/assets/img/illustration.svg" alt="Illustration">
  </div>
</main>


<app-footer></app-footer>