.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 1.3rem 1rem;

  background: var(--background);

  position: fixed;
  bottom: 0;
  font-size: 1rem;
}

.footer span {
  display: flex;
  align-items: center;
}

.footer span a {
  margin-left: 0.5rem;
  text-decoration: none;
  color: var(--primary-color);
}