.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3rem 1rem;

  background: var(--background);

  position: fixed;
  bottom: 0;
  font-size: 1rem;
}

.footer span {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer span a {
  text-decoration: none;
  color: var(--primary-color);
}