/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #8555e9;
  --background: #101318;
  --background-page: #191c1d;
  --text: #fcffff;
  --description: #717078;
  --background-form: #202024;
  --background-input: #121214;
  --border-input: #34333B;
  --positive-color: #07bc0c;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--background-page); color: var(--text); }

/* Input */
.label {
  font-weight: 500;
  font-size: 1.2rem;
}

.input {
  padding: 1rem;
  margin-top: 0.7rem;
  font-size: 1rem;
  
  border: 2px solid var(--border-input);
  border-radius: 6px;
  
  background: var(--background-input);
  color: var(--description);
  transition: border-color 0.2  s;
}

.input:focus {
  outline: 0;
  color: var(--text);
  border-color: var(--primary-color);
}

.input:valid {
  color: var(--text);
}

.primary-button {
  background: var(--primary-color);
  color: var(--text);

  transition: filter 0.2s;
}

.primary-button:hover {
  filter: brightness(0.8);
}

/* Snack bar */
.positive-snack-bar {
  background: var(--positive-color);
  color: var(--text);
}

/* Table */
.table {
  width: 100%;
  background: none;
  box-shadow: none;
}

.table th {
  color: var(--description);
  font-weight: 500;
  font-size: 1rem;
}

.table td {
  font-size: 1rem;
  height: 4rem;
  /* border-color: var(--background-page); */
}

.table td:first-child {
  font-weight: 500;
}